<p>Hi</p>
	<form ng-show="proj.formVisibility" ng-submit="">
	<div class="text_div">
			<span style="font-weight:bold;"> Project Name :&nbsp</span><input type="text" class="text_style" ng-model="proj.formData.projects"></span> &nbsp
			<span style="font-weight:bold;"> Prob of Deal :&nbsp</span><input type="text" ng-model="proj.formData.prob_of_deal">
	<br>&nbsp
		<span style="font-weight:bold;"> RNAM Mgr :&nbsp</span><input type="text" ng-model="proj.formData.rnam_manager">
		<span style="font-weight:bold;"> RNAM Director :&nbsp</span><input type="text" ng-model="proj.formData.rnam_director">
</br><br>&nbsp
	<span style="font-weight:bold;"> Remarks :&nbsp&nbsp</span><textarea  ng-model="proj.formData.status_desc"/>&nbsp
	<span style="font-weight:bold;"> Status :&nbsp</span><input type="text" ng-model="proj.formData.status">
<br><br>
	<span style="font-weight:bold;"> EGI Staffing :&nbsp&nbsp</span><input type="text" ng-model="proj.formData.egi_staffing">
<br><br>
		<span style="font-weight:bold;">  Start Date:&nbsp</span><input type="date" ng-model="proj.formData.start_date">
		<span style="font-weight:bold;">End Date:&nbsp</span><input type="date" ng-model="proj.formData.end_date">
</div>&nbsp
	<div >
	    <button class="btn btn-primary btnCustom" ng-click="">Save</button>
	    <button class="btn btn-primary btnCustom" ng-click="proj.reset()">Reset</button>
	</div>
</form>&nbsp
<div id="grid1" ng-if="proj.gridOptions.data" ui-grid="proj.gridOptions" ui-grid-edit ui-grid-pinning ui-grid-selection class="myGrid"></div>